{{use('yii\helpers\Html')}} 
{{ use('yii/widgets/ActiveForm') }}

<div class="container">
    <div class="col-sm-3">
{% set form = active_form_begin
    ({
        'id' : 'order_form',
        'method' : "POST",
        'action' : 'order',
    })
%}

<label>Имя</label>
<input  class="form-control" type="text" name="name"><br/>
 
<label>Email</label>
<input class="form-control" type="email" name="email"><br/>

<label>Телефон</label>
<input class="form-control" type="text" name="mobail_phone"><br/>

<div class="form-group">
   <input type="submit" value="Оформить" class="btn btn-primary" />
</div>

{{ active_form_end() }}


    </div>
</div>